:root {
  --white-color: #ffffff;
  --dark-black: #0d1117;
  --light-black: #161b22;
  --light-green: #328637;
  --text-grey-color: #6E7681;
  --light-blue: #58a6ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--dark-black);
}

/* Mui overrides */

.MuiFormHelperText-contained {
  margin-left: 0 !important;
  color: var(--text-grey-color) !important;
}

.MuiOutlinedInput-root {
  border: 1px solid #373d46 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: none !important;
}

.MuiPaper-root {
  background-color: #0d1117 !important;
}